body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  font: italic;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #8fd8d5;
  border: 2px solid #020101;
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  text-align: center;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #efeaea;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 70px;
}
